/* About Me Section */
.basicWrap #prof {
	width: 100%;
	height: 100%;
	padding: 2rem;
	border: 5px solid black;
	box-shadow: 15px 15px black;
	margin-bottom: 3rem;
}

.showText {
	display: none;
}

.show {
	display: block;
}
