#cyclewrap {
	background:url(../img/vid_bck1.jpg) center center no-repeat fixed;
	margin-top: 0px;
	padding-top:120px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
    width: 100%;
    filter: brightness(80%);

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cyclewrap h1 {
	color:#ffffff;
	// padding-bottom: 30px;
	// letter-spacing: 8px;
	font-size: 100px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #000;
}

@media(max-width:767px){
    #cyclewrap h1 {
        font-size: 60px;
    }
}