@import url("https://fonts.googleapis.com/css?family=Roboto:500");

.text {
  color: #000;
  font-size: 80px;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
.text:after {
  content: "";
  display: block;
  width: 100%;
  background: #000;
  position: absolute;
  bottom: 0;
  left: -100%;
}
.text.is-animate:after {
  -webkit-animation-name: line;
          animation-name: line;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.text-parts {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.text-parts.is-animate {
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}


@-webkit-keyframes line {
  0% {
    left: -100%;
  }
  40% {
    left: 0;
  }
  50% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes line {
  0% {
    left: -100%;
  }
  40% {
    left: 0;
  }
  50% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
